.fretboard {
display: flex;
flex-direction: column-reverse;
margin-top: 10rem;
margin-bottom: 5rem;
}

.fretboard_string-container {
    font-size: 1rem;
    display : grid; 
    grid-template-columns: repeat(22, 1fr);
    gap: 0.5rem;
    justify-items: center;
  }
  
input:checked + .fretboard_string-note {
    background: red;

  }

.fretboard_string-container:nth-child(3) {
background : blue;
  }

  .containerNeck {
  display: flex;
  background : rgb(183, 219, 203);
  flex-direction: row;
  /* margin-inline: 15rem; */
  margin-top: 2rem;
  border: 0.5rem solid rgb(26, 22, 37);
  border-radius: 25px;
  border-top: 2rem solid rgb(26, 22, 37);
  padding: 20px;
  width: fit-content;
  height: fit-content;
  z-index: 0;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 5px 5px hsla(0, 0%, 10%, 0.908));
  }